/*HTML GENERAL*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    color: white;
     scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight:normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(80, 80, 80);
    /*background-image: url('/assets/back_patt.png') repeat;*/
    display: block;
}
/* SCANS - PHOTOS*/
.scanV{
    width: 250px;
    height:350px;
}
.scanH{
    width: 300px;
    height: 175px;
    padding: 10px;
}
/* HEADER - NAV */
header{
    background: rgb(133, 14, 14);
    width: 100%;
    border-bottom: 1px solid #333;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 1.6);
    font-family: 'Courier New', Courier, monospace;
}
.logo-cont{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo-cont img{
    margin-left: 30px;
    width: 30%;
    height: 60px;
    display: inline-flex;
}
.logo-cont .logo{
    color: #CDD9D5;
    font-size: 20px;
    font-weight: bolder;
    padding: 2rem;
}
.logo-cont .logo a {
    text-decoration: none;
}
.imglogo{
    width: 20%;
    height: 90%;
    margin: auto auto;
}
.btn_menu{
    position: absolute;
    top: .5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.btn_menu .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.menu{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_items{
    display: flex;
    list-style: none;
    margin-right: 50px;
}
.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
    transition: all .4s linear;
}
.menu_items li:hover{
    background-color: #bd1212;
}
.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    color: #CDD9D5;
    font-size: 20px;
    font-weight: bolder;
}
/* TEXT */
/*h1:hover{
    background-color: #333;
    transition: 1s;
}*/
h1{
    font-size: 2em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color: rgb(185, 157, 160);
    padding-left: 2em;
    padding-top: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.info{
    margin: 10px auto;
    align-items: center;
    display: flex;
    width: 95%;
    border-top: whitesmoke;
    transition: background-color 1000ms linear;
}
.info:hover{
    background-color: #333;
    border-radius: 1em;
    color: white;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .15);
}
.texto{
    text-align: justify;
    color: whitesmoke;
    font-size: 1.3em;
    margin: 0 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
}
.texto2{
    text-align: justify;
    color: whitesmoke;
    font-size: 1.3em;
    margin: 2% 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.izq .der{
      display: flex;
}
/* MOVIES POSTERS SLIDER */
.cont_swiper{
      display: flex;
      justify-content: space-between;
}
.swiper{
      width: 240px;
      height: 380px;
}
.swiper-slide{
      display: flex;
      justify-content: center;
      border-radius: 10px;
      font-size: 22px;
      font-weight: bold;
      text-align: justify;
}
.info-swip{
      max-width: 40%;   
      margin: 5% auto;
      font-size: 22px;
}
.texto-swip{
      font-size: 22px;
      /*font-family: 'Aclonica';*/
      line-height: 25px;
      text-align: justify;
}
/* FOOTER BUTTON */
footer{
    background-color: #633434;
}
.down-p{
    align-items: center;
    justify-items: center;
    display: flex;
    height: 50px;
}
.down-p img{
    position: relative;
    height: 1.5rem;
    width: 2.5rem;
    margin: 0 auto;
}
/* BUTTON TOP */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: .75s linear;
}
  
  #myBtn:hover {
    background-color: white; /* Add a dark-grey background on hover */
    color: crimson;
  }
@media (max-width:800px) {
    
    .btn_menu{
        display: flex;
        top: 1.75rem;
        right: 1.5rem;
    }
    .menu_items{
        display: none;
    }
    .menu{
        flex-direction: column;
        align-items: flex-start;
    }
    .active{
        display: flex;
        margin: auto auto;
        margin-bottom: 1em;
        width: 95%;
        flex-direction: column;
    }
    .menu_items li{
        border-radius: 1em;
    }
    .menu_items li a{
        text-align: center;
        font-size: 16px;
    }
    .cont_swiper{
        display: block;
    }
    .info-swip{
        margin: 1em auto;
        max-width: 85%;
    }
    .info{
        display: block;
        align-items: center;
    }
    .info div{
        margin: 0 auto;
        display: flex;
    }
    .scanH{
        width: 300px;
        height: 180px;
        margin: 0 auto;
    }
}
@media (max-width:640px) {
    .btn_menu{
        top: 1.25rem;
        right: 2.5rem;
    }
    .logo-cont .logo{
        color: #CDD9D5;
        font-size: 18px;
        padding: 0;
    }
    .logo-cont{
        width: 300px;   
    }
    .imglogo{
        height: auto;
        width: 180px;
    }
    .logo{
        display: none;
    }
    .texto{
        font-size: .8rem;
        line-height: 18px;
    }
    .texto2{
        font-size: .8rem;
        line-height: 18px;
    }
    ol li{
        font-size: .8rem;
        line-height: 18px;
    }
       
    }
@media (max-width: 580px){
    
        .cont_swiper{
            display: block;
        }
        .info-swip{
            margin: 0 auto;
            max-width: 90%;
        }
        .texto-swip{
            font-size: .6rem;
            line-height: 15px;
        }
        .info{
            display: block;
            align-items: center;
        }
        .info div{
            margin: 0 auto;
            display: flex;
        }
        .scanH{
            width: 250px;
            height: 150px;
            margin: 0 auto;
        }
        .logo-cont{
            width: 50%;   
        }
        .imglogo{
            height: auto;
            width: 200px;
        }
        .logo{
            display: none;
        }
        .texto{
            font-size: .6rem;
            line-height: 15px;
        }
        .texto2{
            font-size: .6rem;
            line-height: 15px;
        }
        ol li{
            font-size: .55rem;
            line-height: 14px;
            }
        .swiper{
            width: 160px;
            height: 253px;
            padding: 10px;
        }
    }
@media (max-width:400px){
        .info{
            display: block;
            align-items: center;
        }
        .info div{
            margin: 0 auto;
            display: flex;
        }
        .scanH{
            width: 250px;
            height: 150px;
            margin: 0 auto;
        }
        .logo-cont{
            width: 300px;   
        }
        .imglogo{
            height: auto;
            width: 180px;
        }
        .logo{
            display: none;
        }
        .texto{
            font-size: 1rem;
        }
        .texto2{
            font-size: 1rem;
        }
        ol li{
            font-size: .55rem;
            line-height: 14px;
        }
        .btn_menu{
            top: 1.25rem;
            right: 2rem;
        }
    }