*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    color: white;
}
body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight:normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(80, 80, 80);
    /*background-image: url('/assets/back_patt.png') repeat;*/
    display: block;
}
header{
    background: rgb(133, 14, 14);
    width: 100%;
    border-bottom: 1px solid #333;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 1.6);
    font-family: 'Courier New', Courier, monospace;
}
.logo-cont{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo-cont img{
    margin-left: 30px;
    width: 30%;
    height: 60px;
    display: inline-flex;
}
.logo-cont .logo{
    color: #CDD9D5;
    font-size: 20px;
    font-weight: bolder;
    padding: 2rem;
}
.logo-cont .logo a {
    text-decoration: none;
}
.imglogo{
    width: 20%;
    height: 90%;
    margin: auto auto;
}
.btn_menu{
    position: absolute;
    top: .5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.btn_menu .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.menu{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_items{
    display: flex;
    list-style: none;
    margin-right: 50px;
}
.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
    transition: all .4s linear;
}
.menu_items li:hover{
    background-color: #4a4a4a;
}
.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    color: #CDD9D5;
    font-size: 20px;
    font-weight: bolder;
}
footer{
    background-color: #633434;
  }
  .down-p{
    align-items: center;
    justify-items: center;
    display: flex;
    height: 50px;
  }
  .down-p img{
    position: relative;
    height: 1.5rem;
    width: 2.5rem;
    margin: 0 auto;
  }
  .info{
      margin: 10px auto;
      align-items: center;
      display: flex;
      border-top: whitesmoke;
      box-shadow: 5px 0 10px rgba(0, 0, 0, .15);
  }
  .info:hover{
    background-color: #333;
    color: white;
    transition: background-color 1000ms linear;
}
  .texto{
      text-align: justify;
      color: whitesmoke;
      line-height: 24px;
      font-size: 20px;
      margin: 0 2%;
      font-family: 'Aclonica';
      font-weight:lighter
  }
  .izq{
      display: flex;
  }
  .der{
      display: flex;
  }
  .scanV{
      width: 250px;
      height:350px;
  }
  .scanH{
      width: 300px;
      height: 175px;
      margin-top: 0;
  }
  .cont_swiper{
      display: flex;
      justify-content: space-between;
  }
  .swiper{
      width: 240px;
      height: 380px;
  }
  .swiper-slide{
      display: flex;
      justify-content: center;
      border-radius: 10px;
      font-size: 22px;
      font-weight: bold;
      text-align: justify;
  }
  .info-swip{
      max-width: 40%;   
      margin: 10% 10% 10% 5%;
      font-size: 22px;
  }
  .texto-swip{
      font-size: 18px;
      font-family: 'Aclonica';
      line-height: 25px;
      text-align: justify;
  }
  .banner{
      width: 80%;
      height: 80%;
  }
  li.item{
      list-style: circle;
      display: block;
      list-style-position: outside;
  }
@media (max-width:1000px){
    }
@media (max-width:800px){
    
    .btn_menu{
        display: flex;
        top: 1.75rem;
    }
    .menu_items{
        display: none;
        width: 100%;
    }
    .menu{
        flex-direction: column;
        align-items: flex-start;
    }
    .active{
        display: flex;
        margin: 0;
        flex-direction: column;
    }
    .menu_items li a{
        text-align: center;
        font-size: 16px;
    }

}
@media (max-width:640px) {
       
    }
@media (max-width: 580px){
        .logo-cont .logo{
            color: #CDD9D5;
            font-size: 18px;
            padding: 0;
        }
    }
@media (max-width:400px){
    }